body {
    color: white;
}

.navbar {
    background-color: green;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

a {
    color: orange
}

.navbar-brand {
    color: whitesmoke;
}

.top-border-line {
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: solid;
    border-color: green;
}

.bottom-border-line {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: solid;
    border-color: green;
}

.jumbotron {
    background-color: green;
}

.heading-container {
    border-bottom: solid;
    border-color: white;
    margin-bottom: 15px;
    padding-top: 10px;
}

footer {
    color:black;
    text-align:center;
}

.navbar .navbar-toggler {
    border:solid;
    border-color: orange;
}
